<template>
    <lightning-input class="inputClass" label="Account Number" 
        type="text" name="accountNumber"
        value={maskedInput} 
        onchange={handleInputChange}>
    </lightning-input>
</template>